Repository zmarkan/kmm-production-sample: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-all, build-android, build-ios

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  # the path-filtering orb is required to continue a pipeline based on
  # the path of an updated fileset
  path-filtering: circleci/path-filtering@0.0.2

workflows:
  select-for-build:
    jobs:
      - path-filtering/filter:
          base-revision: master
          config-path: .circleci/continue-config.yml
          mapping: |
            shared/.*|^(?!shared/.*|iosApp/.*|androidApp/.*).*  build-all     true
            androidApp/.*                                       build-android true
            iosApp/.*                                           build-ios     true

try build only android
  androidApp/build.gradle.kts
Due: build-android

simplify build stuff in CI/CD
  .circleci/continue-config.yml
  build.gradle.kts
Due: build-all

add whitespace in android app
  androidApp/src/main/java/com/github/jetbrains/rssreader/androidApp/App.kt
Due: build-android

ios change
  iosApp/iosApp/RSSApp.swift
Due: build-ios

update macos image
  .circleci/continue-config.yml
Due: build-all
